@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Courgette&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fondamento:ital@0;1&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Gwendolyn:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lemonada:wght@300..700&family=Macondo&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Merienda:wght@300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playball&family=Playpen+Sans:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Redressed&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rochester&family=Salsa&family=Satisfy&family=Sofia&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom styles */

@layer base {
  body {
    @apply min-h-screen;
  }
  /* 
  .lightTheme {
    @apply bg-white
    text-gray-900;
  }

  .darkTheme {
    @apply bg-gray-900
    text-white;
  } */
}

/* Component Styles */

@layer components {
  .darkTheme {
    @apply bg-gray-900
    text-white;
  }

  /* Navbar  */

  nav {
    @apply shadow-md
  dark:shadow-lg;
  }

  .navList {
    @apply max-w-screen-xl 
    flex 
    flex-wrap 
    flex-col 
    md:flex-row
    items-center 
    justify-between 
    text-center mx-auto p-4;
  }

  .toggleDarkThemeContainer {
    @apply flex 
    md:flex-row
    items-center 
    justify-center 
    cursor-pointer
    gap-1;
  }

  img.toggleDarkTheme {
    @apply w-8 h-8;
  }

  img.toggleDarkThemeDrink {
    transform: scaleX(-1);
    @apply w-9 h-9;
  }

  /* Banner */

  .bannerBg {
    position: relative;
    background-image: url("./assets/images/banner.jpg");
    background-size: 120%;
    @apply md:h-screen
    bg-left;
  }

  .bannerBg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d9ae94; /* adjust color and opacity as needed */
    mix-blend-mode: multiply;
    z-index: 0;
  }

  .text-shadow {
    text-shadow: 2px 2px 5px grey;
  }

  .bannerBgTitle {
    color: #ffe9ea;
    @apply font-josefinSansUni
      font-bold
      tracking-tight 
      leading-none
      text-5xl
      md:text-6xl
      shadow-neutral-500
      text-center text-shadow;
  }

  .bannerBgInnerWrapper {
    position: relative;
    z-index: 1;
    @apply flex 
    flex-col 
    items-center 
    justify-center 
    h-full 
    text-center 
    py-20
    md:py-0
    gap-6
    md:gap-5;
  }

  .bannerBgInnerWrapper img {
    @apply ml-2 md:ml-0 w-3/12 md:w-1/12;
  }

  /* Form search */

  .formCocktailSearch {
    @apply flex 
    flex-col 
    items-center 
    justify-center 
    gap-4 
    md:gap-5 
    p-4;
  }

  .formCocktailSearch input,
  .formCocktailSearch select {
    @apply w-full
    md:w-auto
    text-center
    rounded-md;
  }

  .formCocktailSearchWrapperAlcohol {
    @apply flex 
    flex-col 
    md:flex-row
    items-center 
    justify-center 
    gap-4 
    md:gap-5;
  }

  .formCocktailSearchWrapperAlcohol input {
    @apply w-4;
  }

  /* Youtube Form */

  .youtubeForm {
    @apply flex 
    flex-col 
    items-center 
    justify-center 
    md:place-items-start
    md:justify-items-start
    gap-2
    md:gap-3 
    p-4
    md:p-0;
  }

  .youtubeForm form {
    @apply w-2/3
    md:w-full
    flex flex-col 
    items-center 
    justify-center
    md:place-items-start
    md:justify-items-start
    gap-2 
    md:gap-3
    p-4
    md:p-0;
  }

  /* Cocktail Container */

  .cocktailsContainer {
    @apply max-w-screen-xl 
    grid 
    grid-flow-row-dense
    text-center
    align-middle
    items-center
    mx-auto 
    p-4;
  }

  .cocktailsContainer h2 {
    @apply font-josefinSansUni 
    w-1/2
    font-bold 
    text-3xl 
    md:text-4xl 
    text-neutral-500
    justify-center 
    text-center items-center mx-auto p-4;
  }

  /* cocktails card mini container  */

  .cocktailsMiniContainer {
    @apply grid
    grid-cols-1 
    md:grid-cols-2 
    lg:grid-cols-3 
    gap-4 
    md:gap-5
    text-center;
  }

  /* cocktail card */

  .cocktailCard {
    @apply bg-white 
    dark:bg-gray-900 
    shadow-md 
    dark:shadow-lg 
    p-4 
    rounded-md 
    text-center 
    items-center 
    justify;
  }

  .cocktailImg {
    @apply object-cover w-96;
  }

  .buttonSelectionMenu {
    @apply flex 
    flex-row 
    justify-center
    gap-3;
  }

  /* Home Page */

  .homeFormSection {
    @apply max-w-screen-xl 
    grid 
    grid-flow-row-dense
    auto-cols-auto
    grid-cols-1
    md:grid-cols-2
    lg:md:grid-cols-3
    mx-auto 
    p-4
    justify-center
    text-center;
  }

  .homeFormSection > * {
    @apply justify-center
    items-center;
  }

  .homeFormSection img {
    @apply my-auto
    mx-4
    p-10;
  }

  .homeImageLeft {
    @apply hidden
    w-10/12
    lg:grid;
  }
  /* Explore Page */

  .exploreSearchContainer {
    @apply grid grid-flow-row-dense 
    py-8
    w-full
    mx-auto
    w-11/12
    grid-cols-1
    /* md:grid-cols-3  */
    text-center
    md:text-left;
  }

  .exploreSearchContainer h2 {
    @apply font-josefinSansUni 
    mb-3
    font-bold 
    text-3xl 
    md:text-4xl 
    justify-center 
    text-center 
    items-center
    md:text-left;
  }

  .templateExplore {
    @apply grid 
    grid-flow-row-dense 
    grid-cols-1 
    gap-4 
    md:gap-5 
    text-center;
  }

  /* Your Cocktail Selection in Local Storage */

  .yourCocktailSelection {
    @apply max-w-screen-xl 
    flex 
    flex-wrap 
    flex-col 
    items-center 
    justify-between 
    text-center mx-auto p-4;
  }

  /* Footer */

  .footerWrapper {
    @apply max-w-screen-xl 
    flex 
    flex-wrap 
    flex-col 
    items-center 
    justify-between 
    text-center mx-auto p-4;
  }
}
